# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
FeedMe/bin/
FeedMe/obj/
*.apk


FeedMe/bin/Debug/iBeacon_Indexer.dll
FeedMe/bin/Debug/iBeacon_Indexer.dll
FeedMe/bin/Debug/iBeacon_Indexer.dll
FeedMe/bin/Debug/iBeacon_Indexer.dll
FeedMe/bin/Debug/iBeacon_Indexer.dll.mdb
FeedMe/bin/Debug/iBeacon_Indexer.pdb
FeedMe/obj/Debug/android/bin/classes.dex
FeedMe/obj/Debug/android/bin/classes/com/radiusnetworks/ibeacon/R$id.class
FeedMe/obj/Debug/android/bin/classes/com/radiusnetworks/ibeacon/R$layout.class
FeedMe/obj/Debug/android/bin/classes/com/radiusnetworks/ibeacon/R$string.class
FeedMe/obj/Debug/android/bin/classes/com/radiusnetworks/ibeacon/R.class
FeedMe/obj/Debug/android/bin/classes/ibeaconindexer/ibeaconindexder_droid/R$id.class
FeedMe/obj/Debug/android/bin/classes/ibeaconindexer/ibeaconindexder_droid/R$layout.class
FeedMe/obj/Debug/android/bin/classes/ibeaconindexer/ibeaconindexder_droid/R$string.class
FeedMe/obj/Debug/android/bin/classes/ibeaconindexer/ibeaconindexder_droid/R.class
FeedMe/obj/Debug/android/bin/packaged_resources
FeedMe/obj/Debug/android/com/radiusnetworks/ibeacon/R.java
FeedMe/obj/Debug/android/ibeaconindexer/ibeaconindexder_droid/R.java
FeedMe/obj/Debug/android/src/com/radiusnetworks/ibeacon/R.java
FeedMe/obj/Debug/res/layout/bluetoothview.xml
FeedMe/obj/Debug/res/layout/bluetoothview.xml
FeedMe/obj/Debug/iBeacon_Indexer_Droid.csproj.FileListAbsolute.txt
FeedMe/obj/Debug/iBeacon_Indexer.pdb
FeedMe/obj/Debug/iBeacon_Indexer.dll
FeedMe/obj/Debug/assets/database/schema/100.sql
FeedMe/obj/Debug/assets/database/data/100.sql
FeedMe/obj/Debug/assemblies/SQLite.dll
FeedMe/obj/Debug/assemblies/Mono.Android.Support.v4.dll
FeedMe/obj/Debug/assemblies/iBeacon_Indexer.dll.mdb
FeedMe/obj/Debug/assemblies/iBeacon_Indexer.dll
FeedMe/obj/Debug/assemblies/Android-iBeacon-Service.dll
